<a href="https://colab.research.google.com/github/bitgn/ml-course/blob/master/MLP_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Chapter 2. Data Science is done in Python


Python is currently the most popular day-to-day language that Data
Scientists use to develop their models (e.g. Jupyter Notebooks,
pandas, numpy, matplotlib). A lot of data processing is done in this
language as well (Apache Airflow, Dask Distributed, Apache Beam).

Notebooks are an interactive way to work with Python environments. For the purpose of this course we will start with Google Collab notebooks.

### Tasks

- Open this notebook in Google Collab

In [0]:
# import required modules under short and convenient names
import pandas as pd
import matplotlib as mpl

# Quick Intro to Pandas

Ppans
The primary data structures in pandas are implemented as two classes:
DataFrame, which you can imagine as a relational data table, with rows and named columns.
Series, which is a single column. A DataFrame contains one or more Series and a name for each Series.
The data frame is a commonly used abstraction for data manipulation

In [0]:

from io import StringIO

TSV = """
Id	Date	Quantity	Currency	NetAmount
10206	2017-08-15	2	USD	34.7999992
10206	2017-08-22	36	USD	626.400024
10206	2017-08-25	24	USD	417.600006
10206	2017-08-25	24	USD	417.600006
10206	2017-08-28	2	USD	34.7999992
10206	2017-08-31	2	USD	34.7999992
10206	2017-08-31	4	USD	69.5999985
10206	2017-08-31	4	USD	69.5999985
10206	2017-08-31	2	USD	34.7999992
10206	2017-08-31	4	USD	69.5999985
10206	2017-08-31	2	USD	34.7999992
10206	2017-08-31	4	USD	69.5999985
10206	2017-08-31	4	USD	69.5999985
10206	2017-08-31	6	USD	104.400002
10206	2017-08-31	4	USD	69.5999985
10206	2017-08-31	4	USD	69.5999985
10206	2017-08-31	4	USD	69.5999985
10206	2017-09-05	2	USD	34.7999992
10206	2017-09-11	4	USD	69.5999985
10206	2017-09-11	2	USD	34.7999992
10206	2017-09-13	4	USD	69.5999985
10206	2017-09-18	6	USD	104.400002
10206	2017-09-18	2	USD	34.7999992
10206	2017-09-20	6	USD	104.400002
10206	2017-09-22	2	USD	34.7999992"""


df = pd.read_csv(StringIO(TSV), sep='\t')
df.head()